<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Estimating.ProgressReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Estimating.ProgressReporter.Properties.Settings>
            <setting name="Estimate" serializeAs="String">
                <value>Data Source=ADEAI-ALT\TRIMBLE;Initial Catalog=BudgetVSTO;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="SPECTRUM" serializeAs="String">
                <value>Data Source=SPECTRUM;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="Estimating_Dev" serializeAs="String">
                <value>Data Source=ADEAI-ALT\TRIMBLE;Initial Catalog=Estimate_Dev;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="TimeoutTest" serializeAs="String">
                <value>Data Source=ADEAI-ALT\TRIMBLE;Initial Catalog=Estimate_Dev;Integrated Security=False
;Connect Timeout=10;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
        </Estimating.ProgressReporter.Properties.Settings>
    </applicationSettings>
</configuration>