<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Estimating.ProgressReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Estimating.ProgressReporter.Properties.Settings>
            <setting name="Estimating" serializeAs="String">
                <value>Data Source=EAI-LAP-NBGAME\SQLEXPRESS;Initial Catalog=Estimating_Dev;Integrated Security=True</value>
            </setting>
            <setting name="SPECTRUM" serializeAs="String">
                <value>Data Source=EAI-LAP-NBGAME\SQLEXPRESS;Initial Catalog=Estimating_Dev;Integrated Security=True</value>
            </setting>
        </Estimating.ProgressReporter.Properties.Settings>
    </applicationSettings>
</configuration>