<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <ApplicationSettings>
    <add key="Title" value="Budget VSTO"/>
    <add key="Language" value="CSharp"/>
    <add key="SecretKey" value="012345"/>
  </ApplicationSettings>


  <connectionStrings>
    <add name="Estimating" connectionString="Data Source=EAI-LAP-NBGAME\SQLEXPRESS;Initial Catalog=Estimating_Dev;Integrated Security=True"/>
    <add name="SPECTRUM" connectionString="Data Source=EAI-LAP-NBGAME\SQLEXPRESS;Initial Catalog=Estimating_Dev;Integrated Security=True"/>
    <add name="Silo" connectionString="TRIMBLE"/>
  </connectionStrings>
  
  <appSettings>
    <add key="Title" value="Budget VSTO"/>
    <add key="Language" value="CSharp"/>
  </appSettings>
  
  
  
</configuration>